body {
    background-image: url(imagenes/Game.jpg);
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: self-start;
    justify-content: center;
}

.container-title {
    display: flex;
    margin: 10px;
    padding: 20px;
    background-color: rgb(20, 19, 19);
    height: 300px;
    max-width: 900px;
}

.form-container {
    color: #fff;
}

.title {
    font-family: 'Press Start 2P', cursive;
    font-size: 5rem;
    color: #fff;
    text-shadow: 0 0 5px #fff,
        0 0 25px #fff,
        0 0 50px #fff,
        0 0 100px #fff;
}

.cal {
    font-size: 5rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.next {
    background-color: #8d0f65;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    border: #fff;
    cursor: pointer;
    color: #fff;

}

.next:hover {
    background-color: #222228;
    color: #fff;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.btn-over {
    margin-top: 200px;
}

.next {
    width: 150%;
    height: 150%;
    border-radius: 10px;
}

.frase {
    color: #fff;
    font-family: 'Cinzel', serif;
    margin-top: 60px;
    font-size: 1.5rem;
}